In [121]:
import pandas as pd

In [122]:
traceroute_data = pd.read_csv("Q4_traceroute experiment - Sheet1.csv")

In [123]:
#traceroute_data.head()

## Q4

### information about hosts

In [124]:
input_ip = [x for x in traceroute_data['Input'].unique()]
registered_domains = [x for x in traceroute_data['Registered Domain'].unique()]
hosts = pd.DataFrame({'registered domain':registered_domains, 'IP':input_ip})
hosts

  registered domain              IP
0        github.com  192.30.253.113
1         1e100.net    216.239.36.5
2      primacom.net    77.64.170.23
3               NaN  207.244.67.218
4      facebook.com     31.13.92.36

In [125]:
hosts_time_hopcount = traceroute_data[['Input','Registered Domain','Time of day','Hop count']]

### hop counts for each host in each time slot

In [126]:
hosts_time_hopcount.drop_duplicates()

              Input Registered Domain  Time of day  Hop count
0    192.30.253.113        github.com           19         10
10   192.30.253.113        github.com           22         10
20   192.30.253.113        github.com           23         10
30     216.239.36.5         1e100.net           19          5
35     216.239.36.5         1e100.net           22          5
40     216.239.36.5         1e100.net           23          5
45     77.64.170.23      primacom.net           19         20
65     77.64.170.23      primacom.net           22         20
85     77.64.170.23      primacom.net           23         20
105  207.244.67.218               NaN           19         10
115  207.244.67.218               NaN           22         10
125  207.244.67.218               NaN           23         10
135     31.13.92.36      facebook.com           19         13
148     31.13.92.36      facebook.com           22         13
161     31.13.92.36      facebook.com           23         13

Time of day is in 24 hours. \[19 means 7:00 pm\] (with least count of 60 minutes)

In [127]:
count_dict = {}
counting_common_hosts = traceroute_data[['Input','Registered Domain','Host name']]
counting_common_hosts = counting_common_hosts.drop_duplicates()
for x in counting_common_hosts['Host name']:
    if x !='-':
        if x not in count_dict:
            count_dict[x] = 1
        else:
            count_dict[x] = count_dict[x]+1
repeated_host_names = []
for x in count_dict:
    if count_dict[x] == 2:
        repeated_host_names.append(x)
#repeated_host_names

### common hops between two routes

In [128]:
counting_common_hosts[counting_common_hosts['Host name'].isin(repeated_host_names)].sort_values(by='Host name')

              Input Registered Domain                          Host name
49     77.64.170.23      primacom.net         100ge5-1.core2.ash1.he.net
138     31.13.92.36      facebook.com         100ge5-1.core2.ash1.he.net
48     77.64.170.23      primacom.net         100ge8-1.core1.ash1.he.net
137     31.13.92.36      facebook.com         100ge8-1.core1.ash1.he.net
47     77.64.170.23      primacom.net         100ge8-1.core1.atl1.he.net
136     31.13.92.36      facebook.com         100ge8-1.core1.atl1.he.net
50     77.64.170.23      primacom.net         100ge8-1.core1.nyc5.he.net
139     31.13.92.36      facebook.com         100ge8-1.core1.nyc5.he.net
46     77.64.170.23      primacom.net             v509.core1.dal1.he.net
135     31.13.92.36      facebook.com             v509.core1.dal1.he.net
1    192.30.253.113        github.com  vb2000d1.rar3.dallas-tx.us.xo.net
106  207.244.67.218               NaN  vb2000d1.rar3.dallas-tx.us.xo.net